*
{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.container
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container>h1
{
    padding-top: 50px;
    font-size: 3em;
}
.dices
{
    margin-top: 50px;
    width: 30%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.dice
{
    width: 30%;
    height: 100%;
    text-align: center;
    font-size: 1.5em;
}
.dice:nth-child(1)
{
    color: cadetblue;
}
.dice:nth-child(2)
{
    color: #de7119;
}
.dices img
{
    height: 100%;
}
.container>button
{
    margin-top: 50px;
    margin-left: 50px;
    padding: 10px;
    color: brown;
    background: cadetblue;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
}